<div class="row">
	<div class="large-12 columns">
		<center><h2>Create New Major Budget Initiative</h2></center>

		<%= render 'form' %>

		<div class="button small secondary"><%= link_to '<< Back to My Initiatives', initiatives_path %></div>

	</div>
</div>
