<div class="row">
	<div class="large-12 columns">
		<h2>Create New Initiative</h2>

		<%= render 'form' %>

		<div class="button small secondary"><%= link_to '<< Back to My Initiatives', initiatives_path %></div>

	</div>
</div>
