<!-- Major Budget Initiative data entry template mockup v1.0 2014-02-05 -->
<% content_for :title, "Major Budget Initiative - Template Mockup" %>

<div class="row" style="background-color:#eee">
	<div class="large-12 columns">
		<center>
			<h3>Major Budget Initiative Template</h3>
			<h5>Mockup v1.0</h5>
		</center>
	</div>
</div>


<div class="row" style="background-color:#aaa">
	<br>
	<div class="large-6 columns">
		<ul class="button-group round even-4">
		  <li><a href="#" class="tiny button"><< Back</a></li>
		  <li><a href="#" class="tiny button alert">Save Changes</a></li>
		</ul>
	</div>
	<div class="large-6 columns">
		<ul class="button-group" style="float:right;">
		  <li><a href="#" class="tiny button secondary">Create PDF</a></li>
		  <li><a href="#" class="tiny button secondary">Share with another user</a></li>
		</ul>
	</div>
</div>


<div class="row">
	<br>
	<div class="large-12 columns">
		<form>
		    <div class="row">
		      <div class="large-3 columns">
		        <label for="title-label" class="right inline"><h3>Initiative Title:</h3></label>
		    </div>
		    <div class="large-9 columns">
		    	<h3>
			        <input type="text" id="title-label" placeholder="Enter Initiative Title here">
			    </h3>
		      </div>
		    </div>

		  <fieldset>
		    <legend><h5>Description/Justification</h5></legend>

<!-- 		    <div class="row">
		      <div class="large-4 columns">
		        <label>Input Label</label>
		        <input type="text" placeholder="large-4.columns">
		      </div>
		      <div class="large-4 columns">
		        <label>Input Label</label>
		        <input type="text" placeholder="large-4.columns">
		      </div>
		      <div class="large-4 columns">
		        <div class="row collapse">
		          <label>Input Label</label>
		          <div class="small-9 columns">
		            <input type="text" placeholder="small-9.columns">
		          </div>
		          <div class="small-3 columns">
		            <span class="postfix">.com</span>
		          </div>
		        </div>
		      </div>
		    </div>
 -->
		    <div class="row">
		      <div class="large-12 columns">
		        <label><h5><span data-tooltip class="has-tip" title="Special instructions/tips for creating the narrative">Description</span></h5></label>
		    </div>
		    <div class="large-11 columns">
		        <textarea placeholder="Enter narrative Description here"></textarea>
			</div>
			<div class="large-1 columns" data-reveal-id="descriptionModal">
		      	<a href="#" class="button small">?</a>
		      </div>
		    </div>

		    <div class="row">
		      <div class="large-12 columns">
		        <label><h5>Justification</h5></label>
		        <textarea placeholder="Enter narrative Justification here"></textarea>
		      </div>
		    </div>

		    <div class="row">
		      <div class="large-12 columns">
		        <label><h5>Other Alternatives Considered</h5></label>
		        <textarea placeholder="Enter Other Alternatives Considered here"></textarea>
		      </div>
		    </div>

		  </fieldset>

		  <fieldset>
		    <legend><h5>Funding Details</h5></legend>

		    <div class="row">
		      <div class="large-4 columns">
		        <label><h5>Lead Agency</h5></label>
		        <input type="text" placeholder="Enter Lead Agency">
		      </div>
		      <div class="large-4 columns">
		        <label><h5>Secondary Agency 1</h5></label>
		        <input type="text" placeholder="Enter Secondary Agency">
			  </div>
		      <div class="large-4 columns">
		        <label><h5>Secondary Agency 2</h5></label>
		        <input type="text" placeholder="Enter Secondary Agency">
		      </div>
		    </div>

		    <div class="row">
		      <div class="large-12 columns">
		        <label><h5>Cost Analysis</h5></label>
		        <textarea placeholder="Enter narrative Cost Analysis here"></textarea>
		      </div>
		    </div>

		  </fieldset>

		</form>	
	</div>
</div>

<div class="row" style="background-color:#aaa">
	<br>
	<div class="large-6 columns">
		<ul class="button-group round even-4">
		  <li><a href="#" class="tiny button"><< Back</a></li>
		  <li><a href="#" class="tiny button alert">Save Changes</a></li>
		</ul>
	</div>
	<div class="large-6 columns">
		<ul class="button-group" style="float:right;">
		  <li><a href="#" class="tiny button secondary">Create PDF</a></li>
		  <li><a href="#" class="tiny button secondary">Share with another user</a></li>
		</ul>
	</div>
</div>

<div id="descriptionModal" class="reveal-modal medium">
  <h2>Instructions for 'Description'</h2>
  <p class="lead">Special Data-Entry Instructions Header</p>
  <p>Here we can display special instructions to the user for each field or category.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>