<% content_for :title, "PPBB Demo - Home" %>

	<div class="row">
		<div class="large-12 columns">
			<center>
				<h2>Nevada Budget Division</h2>
				<h3>PPBB Demo Website</h3>
		</center>
			<hr>
		</div>
	</div>

<!--begin Department Header row-->
	<div class="row">
		<div class="large-12 columns">
			<h3>Major Budget Initiatives</h3>
		</div>
	</div>
<!--begin initiative sub-header row-->
	<div class="row">
		<div class="large-7 large-offset-1 columns">
			<h5><a href="list">View Major Budget Initiative Demo >></a></h5>
		</div>
		<div class="large-4 columns">
			<h6>v1.0 2014-10-21</h6>
		</div>
	<hr>
	</div>


