<% content_for :title, "PPBB - Major Budget Initiatives" %>

	<div class="row">
		<div class="large-12 columns">
			<ul class="breadcrumbs">
			  <li><a href="../">PPBB</a></li>
			  <li class="current"><a href="#">Major Budget Initiatives</a></li>
			</ul>
			<!--<center><h6 style="color: lightgray">Nevada Budget Division | October 09, 2013 Demonstration</h6></center>-->
			<center><h2>Nevada's Major Budget Initiatives</h2></center>
			<center><p style="font-size: .8em">Demo v1.0 2014-01-21</p></center>
			<hr>
		</div>
	</div>

<!--begin Department Header row-->
	<div class="row">
		<div class="large-12 columns">
			<h3>Department of Health and Human Services</h3>
		</div>
	</div>
<!--begin initiative sub-header row-->
	<div class="row">
		<div class="large-7 large-offset-1 columns">
			<h5><a href="hunger">Hunger Reduction</a></h5>
		</div>
		<div class="large-4 columns">
			<p><a href="#" data-reveal-id="modalHungerReductionSummary" class="small button">Initiative Summary</a></p>
		</div>
	</div>
	<div class="row">
		<div class="large-7 large-offset-1 columns">
			<h5><a href="lakes_crossing">Lake's Crossing</a></h5>
		</div>
		<div class="large-4 columns">
			<p><a href="#" data-reveal-id="modalLakesCrossingSummary" class="small button">Initiative Summary</a></p>
		</div>
	</div>

<!--begin initiative sub-header row-->
	<div class="row">
		<div class="large-7 large-offset-1 columns">
			<h5>Mental Health Home Visiting Program</h5>
		</div>
		<div class="large-4 columns">
			<p><a href="#" class="small button disabled">Initiative Summary</a></p>
		</div>
		<hr>
	</div>

<!--begin Department Header row-->
	<div class="row">
		<div class="large-12 columns">
			<h3>Department of Education</h3>
		</div>
	</div>
<!--begin initiative sub-header row-->
	<div class="row">
		<div class="large-7 large-offset-1 columns">
			<h5><a href="ell">English Language Learner Program</a></h5>
		</div>
		<div class="large-4 columns">
			<p><a href="#" data-reveal-id="modalEllSummary" class="small button">Initiative Summary</a></p>
		</div>
		<hr>
	</div>


<!--begin Department Header row-->
	<div class="row">
		<div class="large-12 columns">
			<h3>Nevada System of Higher Education</h3>
		</div>
	</div>
<!--begin initiative sub-header row-->
	<div class="row">
		<div class="large-7 large-offset-1 columns">
			<h5>Knowledge Fund</h5>
		</div>
		<div class="large-4 columns">
			<p><a href="#" class="small button disabled">Initiative Summary</a></p>
		</div>
		<hr>
	</div>


  	<div id="modalHungerReductionSummary" class="reveal-modal medium">
		<div class="row">
			<div class="large-12 columns">
				<h2>Initiative: Hunger Reduction</h2>
				<h4>Description (Summary)</h4>
				<p>DHHS is proposing an investment of an additional $2.3 million annually to reduce hunger in Nevada.  This program will provide additional subgrants to the network of community providers with the goal of over 90% of allocated funds used directly to feed needy Nevadans and to educate Nevadan’s regarding healthy eating habits.</p>
				<h6><a href="hunger">Continue to Initiative Overview >></a></h6>
			</div>
		</div>

	  <a class="close-reveal-modal">&#215;</a>
	</div>

  	<div id="modalLakesCrossingSummary" class="reveal-modal medium">
		<div class="row">
			<div class="large-12 columns">
				<h2>Initiative: Lake's Crossing</h2>
				<h4>Description (Summary)</h4>
				<p>During the 77th Legislative Session, both the Governor and Legislature supported providing ten additional forensic mental health beds for the Lake’s Crossing Facility. These additional beds will become available by remodeling a portion of the Dini-Townsend Psychiatric Hospital on the Northern Nevada Adult Mental Health (NNAMHS) campus. This project would increase the number of available forensic beds from 66 to 76. Twenty new staff would be needed to support this expansion. The goal of the expansion is to reduce the length of time that mentally ill individuals wait in jails for transfer to the forensic mental health facility for competency evaluation and restorative treatment.</p>
				<h4>Justification (Summary)</h4>
				<p>Population growth, changes in court procedures, and other factors have led to increases in the number of individuals requiring treatment at Lake’s Crossing, the state’s only forensic mental health facility. At the same time, the length of stay for discharged patients at Lake’s has increased from an average of 68 days in Fiscal Year 2009 to 98 days in Fiscal Year 2013.</p>
				<h6><a href="lakes_crossing">Continue to Initiative Overview >></a></h6>
			</div>
		</div>

	  <a class="close-reveal-modal">&#215;</a>
	</div>

  	<div id="modalEllSummary" class="reveal-modal medium">
		<div class="row">
			<div class="large-12 columns">
				<h2>Initiative: English Language Learner Program</h2>
				<h4>Description (Summary)</h4>
				<p>During the 77th Legislative Session, both the Governor and Legislature agreed that providing funding to better serve the English Language Learner population, particularly in the early years of education (pre-kindergarten through fourth grade), was critical to improving the educational success of Nevada’s children.  Our vision for Nevada’s English Language Learners is that students acquire academic English and content mastery when they are meaningfully engaged in undiluted grade level content learning and problem solving with their teachers and their peers. ELL and former ELL students are successful when they graduate with the ability to continue in post-secondary education or training opportunities.  We expect they will have the foundation and disposition to participate in and contribute to the society of their home and community.</p>
				<h4>Justification (Summary)</h4>
				<p>The ELL population has not previously received dedicated state education funds, yet over 68,000 of the state’s 445,000 students, or almost one out of every six students, is an ELL student.  Current and former ELL students comprise nearly one of every three Nevada students.  However, data suggests that students who successfully transition from being an ELL student to a former ELL student (former ELL students are those who have passed the English proficiency examination), within the expected timeframe (usually four to six years) perform better on assessments than the general student population.  Students within two years of exit perform 4.1% higher on the Math CRT and 1.8% higher on the Language Arts CRT.</p>
				<h6><a href="ell">Continue to Initiative Overview >></a></h6>
			</div>
		</div>

	  <a class="close-reveal-modal">&#215;</a>
	</div>

